<div class="panel panel-primary">
	<div class="panel-heading">
		<h2 style="text-align: center;">Project List</h2>
	</div>
	<div class="panel-body">
		<a class="btn btn-normal marginBot-15 while-Text" (click)="createProject()">Add Project</a>
		<table class="mat-table table table-striped">
			<thead>
				<tr class="mat-header-row">
					<td>Project Name</td>
					<td>Date Start</td>
					<td>Estimate</td>
					<td>Date End</td>
					<td>Description</td>
                    <td>Project Type</td>
                    <td>Status</td>
                    <td>Function</td>
				</tr>
			</thead>
			<tbody>
				<tr class="mat-row" *ngFor="let item of limitProject">
					<td>{{item.projectName}}</td>
					<td>{{item.dateStart | date:'dd/MM/yyyy'}}</td>
					<td>{{item.estimate | date:'dd/MM/yyyy'}}</td>
					<td>{{item.dateEnd | date:'dd/MM/yyyy'}}</td>
					<td>{{item.description}}</td>
                    <td>{{item.projectType.typeName}}</td>
                    <td>{{item.iStatus}}</td>
					<td class="mat-cell">
						<button (click)="deleteProject(item.id)" class="btn btn-danger">Delete</button>
						<button (click)="updateProject(item.id)" class="btn btn-primary">Update</button>
					</td>
				</tr>
			</tbody>
			<div class="area-pagination">
				<button class="btn-pagination" [disabled]="currentPage == 0" (click)="getLimit(start=start-5,5,currentPage-1)">Previous</button>
				{{currentPage+1}}/{{numberOfPages()}}
				<button class="btn-pagination" [disabled]="currentPage >= project.length/pageSize - 1" (click)="getLimit(start=start+5,5,currentPage+1)">Next</button>
			</div>
		</table>
	</div>
</div>