<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="employee" class="nav-link" routerLinkActive="active">Employee</a>
    </li>
    <li class="nav-item">
      <a routerLink="department" class="nav-link" routerLinkActive="active">Department</a>
    </li>
    <li class="nav-item">
      <a routerLink="project" class="nav-link" routerLinkActive="active">Project</a>
    </li>
    <li class="nav-item">
      <a routerLink="skill" class="nav-link" routerLinkActive="active">Skill</a>
    </li>
  </ul>
</nav>
<div class="container">
  <br>
  <h2 style="text-align: center;">{{title}}</h2>
  <hr>
  <div class="card">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container" style="text-align: center;">
    <span>All Rights Reserved 2019 @JavaGuides</span>
  </div>
</footer>