<div class="panel panel-primary">
	<div class="panel-heading">
		<h2 style="text-align: center;">Department List</h2>
	</div>
	<div class="panel-body">
		<a class="btn btn-normal marginBot-15 while-Text" (click)="deptCreate()">Add Department</a>
		<table class="table table-striped">
			<thead>
				<tr>
					<td>Department Code</td>
					<td>Department Name</td>
					<td>create by</td>
					<td>time create</td>
					<td>update by</td>
					<td>time update</td>
					<td>Actions</td>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of limitDepartment">
					<td>{{item.deptCode}}</td>
					<td>{{item.deptName}}</td>
					<td>{{item.createdBy}}</td>
					<td>{{item.createdAt | date:'dd/MM/yyyy'}}</td>
					<td>{{item.updatedBy}}</td>
					<td>{{item.updatedAt | date:'dd/MM/yyyy'}}</td>
					<td>
						<button (click)="deleteDept(item.id)" class="btn btn-danger">Delete</button>
						<button (click)="deptUpdate(item.id)" class="btn btn-primary">Update</button>
						<button (click)="deptDetail(item.id)" class="btn btn-info">Details</button>
					</td>
				</tr>
			</tbody>
			<div class="area-pagination">
				<button class="btn-pagination" [disabled]="currentPage == 0" (click)="getLimit(start=start-5,5,currentPage-1)">Previous</button>
				{{currentPage+1}}/{{numberOfPages()}}
				<button class="btn-pagination" [disabled]="currentPage >= departments.length/pageSize - 1" (click)="getLimit(start=start+5,5,currentPage+1)">Next</button>
			</div>
		</table>
	</div>
</div>