<div class="panel panel-primary">
	<div class="panel-heading">
		<h2 style="text-align: center;">Employee List</h2>
	</div>
	<div class="panel-body">
		<a class="btn btn-normal marginBot-15 while-Text" (click)="empCreate()" >Add Employee</a>
		<table class="table table-striped">
			<thead>
				<tr>
					<td>Full Name</td>
					<td>User Account</td>
					<td>Gender</td>
					<td>Email</td>
					<td>Start day</td>
					<td>Department</td>
					<td>Skill</td>
					<td>Actions</td>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of empsLimit">
					<td>{{item.empFirstName}} {{item.empLastName}}</td>
					<td>{{item.user.userName}}</td>
					<td>{{item.empGender}}</td>
					<td>{{item.empEmail}}</td>
					<td>{{item.empStartDay | date:'dd/MM/yyyy'}}</td>
					<td>{{item.user.dept.deptCode}}</td> 
					<td>
						<div *ngFor="let items of item.skillEmp">
							<span>{{items.skill.skillCode}}</span>
						</div>
					</td>
					<td>
						<button (click)="deleteEmp(item.id)" class="btn btn-danger">Delete</button>
						<button (click)="empUpdate(item.id)" class="btn btn-primary">Update</button> 	
					</td>
				</tr>
			</tbody>
			<div class="area-pagination">
				<button class="btn-pagination" [disabled]="currentPage == 0" (click)="getLimit(start=start-5,5,currentPage-1)">Previous</button>
				{{currentPage+1}}/{{numberOfPages()}}
				<button class="btn-pagination" [disabled]="currentPage >= employees.length/pageSize - 1" (click)="getLimit(start=start+5,5,currentPage+1)">Next</button>
			</div>
		</table>
	</div>
</div>