<div class="panel panel-primary">
	<div class="panel-heading">
		<h2 style="text-align: center;">Skill List</h2>
	</div>
	<div class="panel-body">
        <a class="btn btn-normal marginBot-15 while-Text" (click)="createSkill()">Add new skill</a>
		<table class="mat-table table table-striped">
			<thead>
				<tr class="mat-header-row">
					<td>Skill Code:</td>
					<td>Description</td>
                    <td>Function</td>
				</tr>
			</thead>
			<tbody>
				<tr class="mat-row" *ngFor="let item of limitSkill">
					<td>{{item.skillCode}}</td>
					<td>{{item.description}}</td>
					<td class="mat-cell">
						<button (click)="deleteSkill(item.id)" class="btn btn-danger">Delete</button>
						<button (click)="updateSkill(item.id)" class="btn btn-primary">Update</button>
					</td>
				</tr>
			</tbody>
			<div class="area-pagination">
				<button class="btn-pagination" [disabled]="currentPage == 0" (click)="getLimit(start=start-5,5,currentPage-1)">Previous</button>
				{{currentPage+1}}/{{numberOfPages()}}
				<button class="btn-pagination" [disabled]="currentPage >= skill.length/pageSize - 1" (click)="getLimit(start=start+5,5,currentPage+1)">Next</button>
			</div>
		</table>
	</div>
</div>